<app-navbar></app-navbar>

<div class="text">
  <h1 align="center" style="color:black;font-size:40px;"> Textual Summary of Queries
  </h1>

  <h3 style="color:black;font-size:25px;">Reasons for flight delay and their contributions :
  </h3>

  <p style="color:black;font-size:20px;">
    The trend is about the reasons for flight delay. It shows the specific reasons like weather, security, NAS, late
    arrivals, Air carrier-related delays. The trends are displayed based on the years and month. Users can adjust the
    years and month of which they want the data. The data displayed is in the form of visualizations which have reasons
    and their contribution in terms of percentage. The visualization is in terms of two bar graph, each representing a
    year, reasons and their total delay time. Year is represented as x-axis and the delay time is represented as y-axis.
  </p>

  <h3 style="color:black;font-size:25px;">
    Airline with the highest total delay due to opeartional issues :
  </h3>
  <p style="color:black;font-size:20px;">
    The trend is about the airline with the longest total delay in a particular delay due to operational issues of the
    airline. Users can select the year of which they would like to get the data. The data is displayed in terms of
    visualization and it contains the name of the airline which has the longest total delay and the total delay of the
    airline in each month of that year. The visualization is a line graph which has month as x-axis and total_delay_time
    in minutes as y-axis.
  </p>

  <h3 style="color:black;font-size:25px;">
    Delay due to bad weather conditions in a city :
  </h3>
  <p style="color:black;font-size:20px;">
    The trend is about the delay due to bad weather conditions in each month of a city in a particular selected year.
    Users can select the city and year of which they want to get the trend analysis. The trend is displayed in terms of
    visualization. Visualization contains the name of the airline which is affected by the weather and the delay due to
    weather in each month and it also contains the reasons for bad weather like wind, storm, snow and fog and their
    total duration. The visualization has two graphs, one has the months as x-axis and total delay time in minutes as
    y-axis and the other graph has the reasons of bad weather which has reasons an x-axis and their contributions as
    y-axis.
  </p>

  <h3 style="color:black;font-size:25px;">
    Cities with highest delays during each season :
  </h3>
  <p style="color:black;font-size:20px;">
    The trend is about the cities that experience the highest delays in terms of time during each season. Users can
    select the holiday season for which they want to get the visualization. The trend is displayed in terms of
    visualization. Visualization contains the name of the top five cities which have highest delays in a particular
    season. Visualization is in the form of a bar graph. The graph has the city as x-axis and delay time as y-axis.
  </p>

  <h3 style="color:black;font-size:25px;">
    Airports with highest number of delays due to security :
  </h3>
  <p style="color:black;font-size:20px;">
    The trend displays the top five airport names that experience the highest number of delays due to airport security
    in a particular month of a year. Users can select the year and month for which they want the visualization.
    Visualization contains the name of the top five airports with the most number of delays in a particular year and
    month. The visualization has a bar graph in which the city represents the x-axis and total number delays represents
    the y-axis.
  </p>

  <h3 style="color:black;font-size:25px;">Airports with highest rate of dissafaction :</h3>
  <p style="color:black;font-size:20px;">
    The trend is about the top five airlines which have the highest number of dissatisfaction per a flight journey given
    by the customers in a particular year. Users can select the year for which they want the visualization.
    Visualization contains the name of the top five airlines which have the most dissatisfaction per a flight journey
    and airlines represent the x-axis and the dissatisfaction rate represents the y-axis.
  </p>
</div>
